<section class="call cf">
    <div class="call-header">
        <h2 class="light">Yantz Outdoor Collection</h2>
        <h3 class="light" style="margin-top: 15px;">location - location - location</h3>
    </div>
</section>

<section class="announcement center">
    <div class="grid-fixed">
        <div class="c12 cf">
            <h4>
                <a href="/places">Raw Data:</a> all of the places listed in the database
            </h4>
        </div>
    </div>
</section>

<section class="places">
    <div class="grid-fixed">
        <% @places.each do |place| %>
            <%= link_to place.url do %>
                <div class="c4 cf hover-change">
                    <%= image_tag place.image, :height => '200px', :width => '100%', :alt => 'location_image' %>
                    <h4><%= place.title %></h4>
                    <h5><%= place.city %>, <%= place.state %></h5>
                </div>
            <% end %>
        <% end %>
    </div>
</section>
