<% content_for :title, @place.title %>
<p id="notice"><%= notice %></p>

<section class="call cf">
    <div class="call-header">
        <h2 class="light"><%= @place.title %></h2>
        <h3 class="light" style="margin-top: 15px;"><%= @place.street_number %> <%= @place.street_name %> <%= @place.city %>, <%= @place.state %> <%= @place.zip %></h3>
    </div>
</section>

<section class="announcement center">
    <div class="grid-fixed">
        <div class="c12 cf">
            <h4>
                <%= link_to "Back", root_url %> |
                <%= link_to "More Info", @place.external_url, target: :_blank %>
            </h4>
        </div>
    </div>
</section>

<section class="places cf">
    <div class="grid-fixed">
        <div class="c4 cf">
            <br>
            <p>Address:</p>
            <br>
            <p><%= @place.street_number %> <%= @place.street_name %></p>
            <p><%= @place.city %>, <%= @place.state %> <%= @place.zip %></p>
        </div>
        <div class="c8 cf">
            <%= image_tag @place.image, :height => '400px', :width => '100%', :alt => 'location_image' %>
        </div>
    </div>
</section>

<section class="footer cf">
    <div class="grid-fixed">
        <p class="c6">By Jonathan Yantz</p>
        <p class="c6" style="text-align: right;">
            <a href="#">Contact</a> |
            <a href="#">About</a>
        </p>
    </div>
</section>

<!-- <%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %> -->
